<DOCTYPE html>
{% extends 'domo_app/base.html' %}
{% block body_block %}
    <div class="header" style="height: 100vh;background: #535353;">
        <h1 style="text-align: left;color: rgb(255,255,255);padding-top: 171px;padding-left: 100px;font-size: 59px;">Heading</h1><a href="#" style="padding-left: 100px;padding-top: 0;color: rgb(255,255,255);font-size: 18px;">Get a Quote&nbsp;<i class="fa fa-chevron-right" style="font-size: 14px;"></i></a><a href="#" style="padding-left: 93px;padding-top: 0;color: rgb(255,255,255);font-size: 18px;">Contact Us&nbsp;<i class="fa fa-chevron-right" style="font-size: 14px;"></i></a></div>
    <div
        class="features-boxed">
        <div class="container">
            <div class="intro">
                <h1 class="text-center"><br><strong>Our belief and Values</strong><br><br></h1>
                <p class="text-center" style="font-size: 19px;padding-top: 0px;"><br><br><strong>A rare cross-section of "thinkers" and "doers", our team combines the highest level of strategic leadership with advanced execution</strong><br><br></p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-map-marker icon" style="color: rgb(255,80,69);"></i>
                        <h3 class="name">Works everywhere</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon" style="color: rgb(255,80,69);"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-alt icon" style="color: rgb(255,80,69);"></i>
                        <h3 class="name">Customizable </h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a></div>
                </div>
            </div>
        </div>
        </div>
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                    <div class="swiper-slide" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=68&amp;txt=Slideshow+Image&amp;w=1920&amp;h=500);"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="projects-horizontal" style="background: rgb(232,232,232);">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Services</h2>
                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                </div>
                <div class="row projects">
                    <div class="col-sm-6 item">
                        <div class="row">
                            <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/desk.jpg"></a></div>
                            <div class="col">
                                <h3 class="name">Project Name</h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 item">
                        <div class="row">
                            <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/building.jpg"></a></div>
                            <div class="col">
                                <h3 class="name">Project Name</h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 item">
                        <div class="row">
                            <div class="col-md-12 col-lg-5"><a href="#"></a><i class="fa fa-star"></i></div>
                            <div class="col">
                                <h3 class="name">Project Name</h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 item">
                        <div class="row">
                            <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="assets/img/minibus.jpeg"></a></div>
                            <div class="col">
                                <h3 class="name">Project Name</h3>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="padding-bottom: 0;"><a href="#" style="margin: 0px;padding-top: 0;font-size: 18px;">Know more<i class="fa fa-chevron-right" style="font-size: 14px;"></i></a></div>
                </div>
            </div>
        </div>
        <div class="testimonials-clean">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Testimonials </h2>
                    <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
                </div>
                <div class="row people">
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="assets/img/1.jpg">
                            <h5 class="name">Ben Johnson</h5>
                            <p class="title">CEO of Company Inc.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description" style="height: 89.6px;">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="assets/img/3.jpg">
                            <h5 class="name">Carl Kent</h5>
                            <p class="title">Founder of Style Co.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box">
                            <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                        </div>
                        <div class="author"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h5 class="name">Emily Clark</h5>
                            <p class="title">Owner of Creative Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="highlight-blue" style="background: rgb(237,65,54);">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Highlight</h2>
                    <p class="text-center" style="color: rgb(255,255,255);">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                </div>
                <div class="buttons"><a class="btn btn-primary" role="button" href="#" style="color: rgb(255,255,255);">Primary</a></div>
            </div>
        </div>
        <div class="team-boxed">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Team </h2>
                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
                </div>
                <div class="row people">
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/1.jpg">
                            <h3 class="name">Ben Johnson</h3>
                            <p class="title">Musician</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                        <div class="box"><img class="rounded-circle" src="assets/img/1.jpg">
                            <h3 class="name">Ben Johnson</h3>
                            <p class="title">Musician</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                        <div class="box"><img class="rounded-circle" src="assets/img/2.jpg">
                            <h3 class="name">Emily Clark</h3>
                            <p class="title">Artist</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 item">
                        <div class="box"><img class="rounded-circle" src="assets/img/3.jpg">
                            <h3 class="name">Carl Kent</h3>
                            <p class="title">Stylist</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                        <div class="box"><img class="rounded-circle" src="assets/img/3.jpg">
                            <h3 class="name">Carl Kent</h3>
                            <p class="title">Stylist</p>
                            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="col"><a href="#" style="font-size: 18px;">Know more<i class="fa fa-chevron-right" style="font-size: 14px;"></i></a></div>
                </div>
            </div>
        </div>
        <div class="article-list" style="background: rgb(231,231,231);">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Latest Articles</h2>
                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                </div>
                <div class="row articles">
                    <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/desk.jpg"></a>
                        <h3 class="name">Article Title</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,95,85);"></i></a></div>
                    <div
                        class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/building.jpg"></a>
                        <h3 class="name">Article Title</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,95,85);"></i></a></div>
                <div
                    class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/loft.jpg"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: rgb(255,95,85);"></i></a></div>
        </div>
        </div>
        </div>
{% endblock %}